<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#header-nav" aria-controls="header-nav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<nav id="header-nav" class="collapse navbar-collapse" aria-label="Main Navigator">
  <div class="navbar-nav">
    {% for link in site.navlinks %}
      {% assign active = false %}
      {% for dir in link.directories %}
        {% if dir == page.url %} {% assign active = true %} {% endif %}
      {% endfor %}
    <a href="{{ link.directories[0] }}" class="nav-item nav-link{% if active %} active{% endif %}">{{ link.name }}</a>
    {% endfor %}
  </div>
</nav>
