---
layout: default
---
<div class="d-md-flex flex-md-justify-around flex-md-content-around flex-items-stretch">
  <div class="col-10 col-md-3 mx-auto mt-5">
    {% include docs_nav.html active=page.active %}
  </div>

  <div class="col-10 col-md-8 mx-auto mt-5">
    <div class="Subhead">
      <div class="Subhead-heading">{{ page.title }}</div>
      <div class="Subhead-actions d-flex flex-column">
        <div class="flex-self-end">
          <a href="{{ site.github.repository_url }}/blob/gh-pages/{{ page.path }}" class="btn btn-sm" role="button">
            {% octicon pencil height:20 class:'mr-2' aria-label:true %}
            <span>Improve this page</span>
          </a>
        </div>
      </div>
    </div>

    {{ content }}
  </div>
</div>
