
.toaster-container {
  position: relative;
  z-index: 1060;
}

.toaster {
  position: absolute;
  top: 18px;
  right: 24px;
  width: 200px;
  min-width: 200px;
}

.main {
  margin-top: 56px;
  padding-top: 32px;
  padding-bottom: 32px;
  min-height: calc(100vh - 112px);
}

.footer { height: 56px; }

.fill {
  height: calc(100vh - 56px);
  max-height: calc(100vh - 56px);
  overflow-y: scroll;
}

.nav-anchored {
  margin-top: -78px;
  padding-top: 78px;
}

.pointer { cursor: pointer !important; }
.user-select-none { user-select: none !important; }

.zindex-dropdown { z-index: 1000 !important; }
.zindex-sticky { z-index: 1020 !important; }
.zindex-fixed { z-index: 1030 !important; }
.zindex-modal-backdrop { z-index: 1040 !important; }
.zindex-modal { z-index: 1050 !important; }
.zindex-popover { z-index: 1060 !important; }
.zindex-tooltip { z-index: 1070 !important; }
